<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Social Media Accounts</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">
        
       
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        
    </head>

    <body><br><br><br>
       
                                    <div class="footer-social">
                                       <center>   
                                           {% for acc in Accountes %}

                                        {% if acc.Twitter %}
                                        <a href="{{acc.Twitter}}"><i class="fab fa-twitter"></i></a>
                                        {% endif %}

                                        {% if acc.Facebook %}
                                        <a href="{{acc.Facebook}}"><i class="fab fa-facebook-f"></i></a>
                                        {% endif %}

                                        {% if acc.YouTube %}
                                        <a href="{{acc.YouTube}}"><i class="fab fa-youtube"></i></a>
                                        {% endif %}

                                        {% if acc.Instagram %}
                                        <a href="{{acc.Instagram}}"><i class="fab fa-instagram"></i></a>
                                        {% endif %}
                                        
                                        {% if acc.LinkedIn %}
                                        <a href="{{acc.LinkedIn}}"><i class="fab fa-linkedin-in"></i></a>
                                        {% endif %}


                                           {% endfor %}
                                       </center>
                                    </div>
                               
    </body>
</html>
